@import '../../styleRoot/color.scss';


.footer{
    width: 100%;
    min-height: 50vh;
    background-color: $--main-1;
    &>.row{
        display: flex;
        flex-direction: column;
        padding:3.5rem 0rem 2rem;
        margin-bottom: 0;
    }

    &__contents{
        &row{
            margin-bottom: 0;
        }
        padding: 0rem 1rem;
        width: 100%;
        text-align: left;
        .content__title{
            .lite{
                color: $--white;
                font-weight: bold;

            }
        }

        .content__links{
            .content{
                a{
                    text-decoration: none;
                    .text{
                        color: $--white;
                        opacity: 0.7;
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }

    &__notes{
        flex-direction: column;
        margin-top: 1rem;
        span{
            opacity: 1;
            font-weight: bold;
            color: $--white;
        }
        p{
                display: inline;
                margin: 0;
                color: $--white;
                opacity: 0.7;
        }
    }
}