@import '../../styleRoot/color.scss';

.modal{
    &.modal--hidden{
        z-index: -1;
        opacity: 0;
    }
    &.modal--open{
        .modal__body{
            animation: moveInTop .5s;
            animation-fill-mode: forwards;
        }
        animation: backgroundTrans .5s;
        animation-fill-mode: forwards;
    }

    &.modal--close{
        .modal__body{
            animation: moveOutTop .5s;
            animation-fill-mode: forwards;
        }
        animation: backgroundTransOut .5s;
        animation-fill-mode: forwards;
    }
    position: fixed;
    top:0rem;
    left: 0%;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    &__body{
        margin: auto 0rem;
    }
}

@keyframes moveInTop {
    0%{
        z-index: 0;
        opacity: 0;
        transform: translateY(-50px);
    }

    100%{
        z-index: 2;
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes backgroundTrans {
    0%{
        z-index: -1;
        background-color: rgba($color: $--dark, $alpha: 0);
    }

    100%{
        z-index: 1;
        background-color: rgba($color: $--dark, $alpha: 0.6);
    }
}

@keyframes moveOutTop {
    
        0%{
            z-index: 2;
            opacity: 1;
            transform: translateY(0px);
        }
    100%{
        z-index: 0;
        opacity: 0;
        transform: translateY(-50px);
    }
}

@keyframes backgroundTransOut {
    0%{
        z-index: 1;
        background-color: rgba($color: $--dark, $alpha: 0.6);
    }
    100%{
        z-index: -1;
        background-color: rgba($color: $--dark, $alpha: 0);
    }

}